@{
    var cc1 = new CustomerControl.Variables("WebGodaddy"); 
    var df1 = new DataFunctions.DataFunctions(ref cc1);
    var D = df1.GetDateTimeISTNow().ToString("yyyy-MM-dd");

}

<link rel="stylesheet" href="~/Content/Custom/ManageEmployeesMV.css" />
<link rel="stylesheet" href="~/Content/Custom/PageLoader.css" />
<link rel="stylesheet" href="~/Content/Custom/GridCss.css" />
<link rel="stylesheet" href="~/Content/FrameWork/dataTables.bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/FrameWork/jquery.contextMenu.css" />
<script src="~/Scripts/FrameWork/jquery.datetimepicker.full.min.js"></script>
<script src="~/Scripts/FrameWork/jquery.contextMenu.js"></script>
<script src="~/Scripts/Custom/ManageEmployeesMV.js"></script>
<script src="~/Scripts/Custom/SortnFilterGrid.js"></script>
<link rel="stylesheet" href="~/Content/FrameWork/jquery.datetimepicker.min.css" />

<style>
    .content {
        background: white;
    }

    .top img {
    width: 22px;
    cursor: pointer;
    }
    .icon a{
        padding-left:10px;
    }
    #dropdown{
        width:100%;
    }
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    .loaderspin {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3380cc;
        border-bottom: 16px solid #99ccff;
        width: 60px;
        height: 60px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    [data-toggle] {
        position: relative;
    }

        [data-toggle]:before {
            content: '';
            /* hides the tooltip when not hovered */
            display: none;
            content: '';
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #1a1a1a;
            position: absolute;
            top: 30px;
            left: 15px;
            z-index: 8;
            font-size: 0;
            line-height: 0;
            width: 0;
            height: 0;
        }

        [data-toggle]:after {
            display: none;
            content: attr(data-toggle);
            position: absolute;
            top: 35px;
            left: 0px;
            padding: 0 5px;
            background: #1a1a1a;
            color: #fff;
            z-index: 9;
            font-size: 0.85em;
            height: 18px;
            max-width: none;
            text-align: center;
            line-height: 18px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            white-space: nowrap;
            word-wrap: normal;
        }

        [data-toggle]:hover:before,
        [data-toggle]:hover:after {
            display: block;
        }

        [data-toggle].data-toggle-inner {
            max-width: none;
        }

    .MoreDetails:hover i {
        opacity: 0.5;
    }

        .MoreDetails:hover i:hover {
            opacity: 1;
        }

            .MoreDetails:hover i:hover .MoreDetails {
                background: #8f1fe7;
            }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .LoaderOverlay {
        background: #f3f3f3;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }

    .xdsoft_datetimepicker {
        height: 212px;
    }

    td.xdsoft_date div {
        padding: 0px 9px 0px 9px;
    }

    div.tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }
        /* Style the buttons inside the tab */
        div.tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 8px 23.4px;
            transition: 0.3s;
            font-size: 15px;
        }

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    .content-wrapper {
        height: 500px;
    }



    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

        .sticky + .ShowRemarksValues {
            padding-top: 102px;
        }

    .numberCircle {
        border-radius: 50%;
        width: 18px;
        height: 18px;
        padding: 1px;
        margin-right: 5px;
        background: #FF0000;
        border: 0.5px solid #FF0000;
        color: #fff;
        text-align: center;
        font: 11px Arial, sans-serif;
    }

    .context-menu-item {
        padding-left: 30px;
        padding-right: 20px;
    }

    .context-menu-list {
        width: 220px;
    }

    .context-menu-item labels context-menu-visible {
        padding-left: 15px;
    }

    table td {
        border-style: none;
    }

     .context-menu-list {
        width: 185px;
    }
      .context-menu-list li{
        margin-top:6px;
        margin-bottom:6px;
    }
       .resultContent {
       
        border: #d9d5d0 1px solid;
        margin: 30px 0 -12px 0;
        border-radius: 3px;
        background-color: #f9f9f9;
    }
        .resultContent p {
            margin: 0px !important;
            padding: 6px;
            font-size: 12px;
        }
    .result-msg{
        padding:5px;
    }
    .closebn:hover {
    background-color: #ddd;
    border-radius: 50%;
    color: #246399;
}
</style>
<input type="hidden" name="grid1" id="grid1" value="">
<p class="text-center text-success">@TempData["Message"]</p>

<div class="calHeightIcon" style="margin:0 0 0 0; padding:0 0 0 0;">
    <div class="panelbody" style="height: auto;">
        <div id="main" class="col-md-12">
            <div class="row " style="border: none; margin-bottom: -15px; margin-top: -15px;">
                <div class=" icons" style=" margin-right: 8px;  margin-left:0px; padding-top:3px; display:inline-block; float:left;">
                    <a id="CreateEmployee" href='/Configuration/EmployeesForm' title="" data-placement="bottom" data-toggle="Add New Employee" style="text-align:left" class="top">
                        <img src="/images/icon-plus.png">
                    </a>

                    <a class="top" title="" onclick="ReloadGrid()" data-toggle="Refresh">
                        <img src="/images/icon-refresh.png">
                    </a>
                    <a class="top btn-Filter" title="" data-placement="bottom" data-toggle="Advance Filter" style="text-align: left; " onclick="ShowFilters();">
                        <img src="/images/icon-filter.png">
                    </a>
                    <a class="top" data-toggle='Import Employees' onclick='OpenImportModal();'>
                        <img src="/images/icon-import.png">
                    </a>
                </div>


                <!-- <div class="col-md-2" style="bottom:12px; height:40px; top:9px; padding:0px;width: 4%;">
                 </div>-->
                <div class="" style="text-align:right; padding-right:0px; float:right;">
                    <label id="info" style="padding-right: 10px; font-size: 12px;"> </label>
                    <div class="btn btn-default" title="" data-placement="bottom" data-toggle="Newer" id="Prev" data-original-title="Newer" style="margin-top:10px; width:30px; padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:0px; margin-bottom:10px; color:#337ab7; border-radius:0px">
                        <i class="fa fa-angle-left" style="font-size:24px"></i>
                    </div>
                    <div class="btn btn-default" title="" data-placement="bottom" data-toggle="Older" id="Next" data-original-title="Older" style="margin-top:10px; width:30px; padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:0px; margin-bottom:10px;color:#337ab7; margin-left:0px;  border-radius:0px">
                        <i class="fa fa-angle-right" style="font-size:24px"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="FilterSection" style="margin-top: 10px; margin-left: 2px; margin-bottom: 15px;">
    <div id="dropdown" class="search" style="display: inline-flex; margin-left: 0px; margin-top: 8px; width: auto;">
        <select class="" id="filter" style="height:26px; padding-left: 5px; width:auto;">
            <option value="0">Filter By</option>
            @*<option value="1">No filter</option>*@
        </select>
        <div id="dateC" style="display:none; width:100%;" class="filterDiv">

            <div class="" style=" display:inline-flex;">
                <label class="ee" style=" margin-left: 10px; margin-right: 0px;">   From: </label>
            </div>
            <input type="date" id="min" class="" style="display: inline-flex; height: 26px; top: 10px; border: solid black 0.1px; width: 130px; border-radius: 3px; " value="@D" max="@D" />

            <div class="" style=" display: inline-flex;">
                <label class="ww" style=" margin-left: 8px; margin-right:0px;padding-left:19px;">  To: </label>
            </div>
            <input type="date" id="max" class="" style="display: inline-block; height: 26px; top: 10px; border:solid black 0.1px; width:130px; border-radius:3px; margin-top:10px;" value="@D" max="@D" />
            <div id="search2" onclick="DateSearch();" class="searchButton date"><i class="glyphicon glyphicon-search"></i></div>
        </div>


        <div id="TextC" class="filterDiv" style="display:none;">
            <input type="text" id="filterText" class="" placeholder="Type to search" style=" display: inline-flex; height: 26px; padding-left: 5px; margin-left: 20px; width: 120px; border: 1px solid black; border-radius: 3px 0px 0px 3px;" />
            <div id="search1" onclick="DoSearch();" class="searchButton"><i class="glyphicon glyphicon-search"></i></div>
        </div>
        <div id="desC" class="filterDiv" style="display:none;">
            @Html.List_Search("designation", "24", "-Select designation-",0,"", new{@style = "height:26px; margin:0; width: auto; padding-left: 0px; margin-left:10px;"}, true)
        </div>
        <div id="depC" class="filterDiv" style="display: none;">
            @Html.List_Search("department", "28", "- Select Department -",0,"", new {@style = "height:26px; margin:0; width: auto; padding-left: 0px;margin-left:10px;"}, true)
        </div>
        <span class="closebn filterclose" onclick="removeFilter()" title="" data-placement="bottom" data-toggle="Remove Filter" data-trigger="hover" data-original-title="Remove Filter" style="display:none;margin-left: 10px; font-size: 20px; height:30px; width:30px; place-self: center; cursor:pointer; color:#808080; text-align:center;">&times;</span>
        <div id="FilterText" class="" style="float:left; display:none; margin-top: 10px;margin-left:15px; font-size:13px; border:1px solid black; width: auto; padding:2px 5px 0px 5px; height:26px;">
            <b>
                <p id="fText" style="float:left; margin-bottom:0px; margin-right:10px;  margin-top :-1px;"></p>
                <a class='' id='' onclick='ReloadGrid();'>
                    <i class='glyphicon glyphicon-remove'></i>
                </a>
            </b>
        </div>
    </div>
</div>
<div class="resultDiv" style="display:none;margin-bottom:30px;">
    <div class="resultContent">
        <div class="result-msg">
        </div>
    </div>
</div>
<div id="loading"><div colspan="5"><div id="loadingmessage" class="loader overlay col-md-offset-6" style="margin-top:0px;"></div><p id="Msg"></p></div></div>
<div class=" " id="example"></div>

<input type="hidden" name="grid1" id="fvalue" value="@ViewBag.Message">


@*<div class="LoaderOverlay">
        <div class="loaderspin" id="loadspin" style="text-align:center; margin-left:700px; margin-bottom:50px; margin-top:300px"></div>
    </div>*@

@*Advance filter Modal*@
<input type="hidden" name="grid1" id="afvalue" value="@ViewBag.filterString">
<input type="hidden" name="grid1" id="svalue" value="@ViewBag.sortString">


<div class="modal fade" id="FilterModel">
    <div class="modal-dialog">
        <div class="modal-content" style="width:100%;">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#filterTab" aria-controls="filterTab" role="tab" data-toggle="tab">Filters</a>

                        </li>
                        <li role="presentation">
                            <a href="#sortTab" aria-controls="sortTab" role="tab" data-toggle="tab">Sort</a>

                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content" style="margin-top:10px;">
                        <div role="tabpanel" class="tab-pane active" id="filterTab">
                            New Filter<div id="addfilter" onclick="AddFilters();" style="margin-left: 7px; margin-bottom: 10px; margin-left: 7px; margin-bottom: 10px; border-radius: 50px; padding: 2px 4px; font-size: 11px; font-weight: normal; vertical-align: top;" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> </div>@*Add Filter Options dropdown*@
                            <table id="filterTable"></table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="sortTab">
                            New Sort Option<div id="addsortOptions" onclick="AddSortingOptions();" style="margin-left: 7px; margin-bottom: 10px; margin-left: 7px; margin-bottom: 10px; border-radius: 50px; padding: 2px 4px; font-size: 11px; font-weight: normal; vertical-align: top;" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> </div>@*Add Sort Options dropdown*@
                            <table id="sortingTable"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style="display:flex; padding: 10px 10px;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> @*close modal popup*@
                <div id="clearFilters" onclick="removeFilter2();" class="btn btn-primary">Clear<i class="glyphicon glyphicon-remove" style="top:3px; padding-left:5px;"></i></div>@*clear filter values*@
                <div id="search1" onclick="ApplyFilters2();" class="btn btn-primary">Apply Filters / Sorting <i class="glyphicon glyphicon-search" style="top:3px; padding-left:5px;"></i></div>
            </div>
        </div>
    </div>
</div>



<div Class="modal fade" id="deleteEmployee">
    <div Class="modal-dialog" role="form">
        <div Class="modal-content">
            <a data-dismiss="modal" Class="btn close"><span aria-hidden="true" style="font-size:24px">&times;</span></a>
            <h4 style="text-align:center; font-size:18px; padding-left: 10px; margin-top:0px; padding-top:20px" Class="modal-title">Delete Employee</h4>
            <div Class="modal-body" style="padding-top:0px;margin-top: 20px;">
                <form Class="form-horizontal" role="form" method="post" id="deleteEmployeeForm">
                    <input type="hidden" id="p_employees" name="p_employees" value="" />
                    <input type="hidden" name="p_acccode" id="p_acccode" value="" />
                    <div Class="text-center" style="margin:20px 0px 10px 50px">
                        <Button type="button" Class="btn btn-primary" onclick="DeleteEmployee()" style="margin-right:25px; margin-top:20px">Delete</Button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right:50px; margin-top:20px"> Cancel </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CallClosed">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <a data-dismiss="modal" Class="btn close"><span aria-hidden="true" style="font-size:24px">&times;</span></a>
            <h4 style="text-align:center; font-size:18px; padding-left: 10px; margin-top:0px; padding-top:20px" class="modal-title"></h4>
            <div class="modal-body" style="padding-bottom:0px; padding-top:0px;margin-top: 20px;">
                <div id="CallClosedContent" class="col-md-6"></div>
                <div class="form-group text-center" style="clear:both; margin:0px 0px 10px 50px">
                </div>
            </div>
        </div>
    </div>
</div>



@*Import Employees*@
<div class="modal fade" id="ImportEmployeeModal">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header" style="border:none; padding:0px">
                <span class="close" data-dismiss="modal" style="padding: 6px 12px 10px 12px; font-size: 25px;width: 54px;height: 46px;text-align: center;">&times;</span>
            </div>
            <div class="modal-body " style="padding-bottom:0px; padding-top:0px;">
                <h4 style="text-align:center; margin-top:0px;" class="modal-title"> </h4>
                <div id="myRemark" class="col-md-12">
                    <form Class="form-horizontal" role="form" method="post" id="importForm" enctype="multipart/form-data" style="margin-top:0px;">
                        <p class="text-center text-success">@TempData["Message"]</p>
                        <br />
                        <div Class="" style="margin-bottom:10px">
                            <label class="col-sm-3 control-label" style="padding-top:0px; padding-right:0px; text-align:left">Upload Excel File</label>
                            <input type="file" name="file1" id="file1" class="col-sm-6" style="margin-top:10px">
                            <Button type="button" Class="btn btn-primary" onclick="SubmitImportEmployees();" style="margin-right:15px; padding:0px; width:102px; height:26px;margin-top:20px;margin-left:15px">Submit</Button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer" style="border:none; text-align:center; padding-bottom:20px">
            </div>
        </div>
    </div>
</div>


<div Class="modal fade" id="ResetEmpPass">
    <div Class="modal-dialog" role="form">
        <div Class="modal-content">
            <a data-dismiss="modal" Class="btn close"><span aria-hidden="true" style="font-size:24px">&times;</span></a>
            <h4 style="text-align:center; font-size:18px; padding-left: 10px; margin-top:0px; padding-top:20px" Class="modal-title">Reset Employee Password</h4>
            <div Class="modal-body" style="padding-top:0px;margin-top: 20px;">
                <form Class="form-horizontal" role="form" method="post" id="ResetEmpPassForm">
                    <input type="hidden" name="p_acccode" id="p_acccode" value="" />
                    <div Class="text-center" style="margin:20px 0px 10px 50px">
                        <Button type="button" Class="btn modalbutton" onclick="ResetPassword()" style="margin-right:25px; margin-top:20px">Reset</Button>
                        <button type="button" class="btn modalbuttonsecondary" data-dismiss="modal" style="margin-right:50px; margin-top:20px"> Cancel </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>