@*@Optimization.Scripts.Render("~/bundles/Success")*@
<script src="~/Scripts/FrameWork/jquery.min.js"></script>
<script src="~/Scripts/FrameWork/bootstrap.min.js"></script>
<script src="~/Scripts/Custom/Success.js"></script>

<script>
    function SendEmail() {
        var options = { "backdrop": "static", keyboard: true };
        var emailId = $("#email").val();
       
        if (emailId != "" && emailId != "undefined" && emailId != null) {
           
            var userid = $("#userid").val();
            var pwd = $("#pwd").val();
            $.ajax({
                type: "POST",
                url: "/Configuration/SendEmpCredentialsInEmail",
                data: { email: emailId ,userid: userid, pwd: pwd},
                success: function (data) {
                    if (data == "") {
                        window.location.href = "/Home/LogOut";
                        return true;
                    }

                    $(".ShowEmailCTRLS").css("display", "none");
                    var Mtitle = "Email sent Successfully.";                   
                    $('#InfoContent').html('');
                    $('#Info').modal(options);
                    $('#Info .modal-title').text(Mtitle);                   
                    $('#Info').modal("show");

                    setTimeout(function () { $('#Info').modal("hide"); }, 1000);
                },
                error: function () {
                    $('#Info').modal(options);
                    var Mtitle = "An error Ocuured! Please try again";
                    $('#Info .modal-title').text(Mtitle);
                    $('.modal-title').css('text-align', 'center');
                    $('#Info').modal('show');
                }
            });
        }else{
        var Mtitle = "Please enter valid emailId!";
        $('#infoContent').html('');
        $('#Info').modal(options);
        $('#Info .modal-title').text(Mtitle);
        $('#Info').modal("show");
    }
    }
    function showEmailCtrl() {
        $(".ShowEmailCTRLS").css("display", "block");
    }
</script>
<h2 class="text-center" style="margin-bottom:20px">Login Information</h2>
<div class="col-md-offset-3 col-md-6 col-md-offset-3" style="margin-left:26%;">
    <div class="panel panel-default" style="width:100%;height:250px; overflow-y:auto;">
        <div class="panel-body" style="margin-top:10px;">
            @*<div class="col-sm-12"><div class="col-sm-6"><p>UserName:</p> </div><div class="col-sm-6">@TempData("UserName")</div></div>
            <div class="col-sm-12"><div class="col-sm-6"><p>Password:</p></div><div class="col-sm-6">@TempData("Password")</div></div>*@
            <div class="col-sm-12">
                <div class="col-sm-6 text-center"><p>UserName:</p> </div>
                <div class="col-sm-6"><p><input type="hidden" id="userid" value="@TempData["UserName"]" />@TempData["UserName"]</p></div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6 text-center"><p>Password:</p></div>
                <div class="col-sm-6"><p><input type="hidden" id="pwd" value="@TempData["Password"]" />@TempData["Password"]</p></div>
            </div>
            <div class="col-sm-12">
                <div style="margin-top:30px;text-align:center"><a class="btn btn-primary" value="Login" href="/Configuration/ManageEmployees">Go to Manage Employees</a></div>
            </div>
            <div class="col-sm-12">    
                <div style="text-align:center;margin-top:10px;">
                    <a data-toggle='Mail to customer' id='mailtocust' class="btn btn-primary" style='padding-left: 10px;padding-top: 10px;padding-right: 10px;left: 0px;' onclick=showEmailCtrl()>Send to email</a></div><div class='ShowEmailCTRLS' style='display:none;text-align:center'><input type='text' id='email' placeholder='Enter email address' style='width:150px; color:black; height: 23px;' /><div class='btn btn-success DateBtn' style='padding: 2px 5px 1px 5px; margin-bottom: 4px; font-size: 12px;margin-left: 4px;' onclick='SendEmail()'>Send Email</div></div>
             
        </div>

    </div>
        </div>
<div class="modal fade" id="Info">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <a data-dismiss="modal" Class="btn close"><span aria-hidden="true" style="font-size:24px">&times;</span></a>
            <h4 style="text-align:center; font-size:18px; padding-left: 10px; margin-top:0px; padding-top:20px" class="modal-title"> </h4>
            <div class="modal-body" style="padding-bottom:0px; padding-top:0px;margin-top: 20px;">
                <div id="InfoContent" class="col-md-6"></div>
                <div class="form-group text-center" style="clear:both; margin:0px 0px 10px 50px">
                </div>
            </div>
        </div>
    </div>
</div>

