@{
    var cc1 = new CustomerControl.Variables("WebGodaddy"); 
    var df1 = new DataFunctions.DataFunctions(ref cc1);
    var D = df1.GetDateTimeISTNow().ToString("yyyy-MM-dd");
}

<script src="~/Scripts/FrameWork/jquery.contextMenu.js" type="text/javascript"></script>
<script src="~/Scripts/Custom/ManageCustomers.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/FrameWork/jquery.contextMenu.css" />
<link rel="stylesheet" href="~/Content/Custom/ManagePendingTasks.css" />

<style>
    #exampleC {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        border-collapse: collapse;
    }

    #exampleC {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
    }

        #exampleC th {
            border-color: #999999;
        }

        #exampleC td {
            border-color: #999999;
        }

    .foot {
        text-align: center;
    }

    .main-footer {
        height: auto;
    }

    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    .DateBtn {
        height: 26px;
        margin-top: 10px;
        border-radius: 0px;
        padding: 3px 6px 6px 6px;
        width: 29px;
        margin-top: 0px;
        margin-bottom: 3px;
    }

    #filterText {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        margin-top: 5px;
        height: 20px;
        padding: 0px;
        margin: 5px 0px 5px 0px;
    }
    /*.col-md-3*/ #main1 {
        text-align: center;
    }

    .col-md-12.horizontal {
        overflow: auto;
        height: 300px;
    }

    #example > tbody {
        display: block;
        height: 200px;
        overflow: auto;
    }

    #example {
        height: 232px;
    }
    .Clamp {
       overflow: hidden;
       display: -webkit-box;
       -webkit-line-clamp: 2;
       -webkit-box-orient: vertical;
    }
</style>


@*Manage Customer for Employee Login*@

<div Class="container">
    <div Class="icon-bar">
        <a class="top disabledbutton" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Message To Customers" onclick="SendMessage();">
            <i class="glyphicon glyphicon-phone"></i>
        </a>
        <a class="top disabledbutton" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Email To Customers" onclick="SendEmail();">
            <i class="glyphicon glyphicon-envelope"></i>
        </a>
        <a class="top disabledbutton" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Export to Excel" href="@Url.Action("CustomerExcel", "CRM")">
            <i class="glyphicon glyphicon-download-alt"></i>
        </a>
        <a Class="top btn-edit" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="View / Edit" onclick="dd();">
            <i Class="glyphicon glyphicon-pencil"></i>
        </a>
        @*<a Class="top btn-delete disabledbutton" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Delete" onclick="dd();">
                <i Class="glyphicon glyphicon-trash"></i>
            </a>
            <a Class="top btn-reg disabledbutton" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Open Registration" onclick="pp();" id="yy">
                <i Class="fa fa-file-text" style="font-size:24px">  </i>
            </a>*@
    </div>
</div>
<input type="hidden" id="filterApplied" value="" />
<input type="hidden" id="IdsOfRows" value="" />


<div id="alert" Class="modal fade">
    <div Class="modal-dialog" role="form">
        <div Class="modal-content">
            <div Class="modal-header">
                <Button type="button" Class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </Button>
                <div Class="col-md-12" id="rew">
                    <h4 style="text-align:center"> Please select a Row </h4>
                    <hr style="margin-top:10px" />
                    <div Class="nn col-sm-12">
                        <button type="button" class="btn btn-primary" id="cancel" data-dismiss="modal">OK</button>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="payment">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <a href="@Url.Action("ManageCustomers")" Class="btn close"><span aria-hidden="true">&times;</span></a>
                <div Class="col-md-12" id="rew">
                    <h4 style="text-align:center; margin-top:0px; margin-bottom:20px"> Payment Details </h4>
                    <hr style="margin-top:10px" />
                    <div class="modal-body" id="myRemark">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="done">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="done" class="col-md-12">
                    <h4 style="text-align:center"> Download Registration File </h4>
                    <hr style="margin-top:10px" />
                    <br />
                    <div class="container" id="down">
                        <a href="@Url.Action("download")" class="btn btn-success">Download</a>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@*For filtering on Customer Name *@
<div class="modal fade" id="ModelCustNameFilter">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header" style="border:none; padding:0px">
                <span class="close" data-dismiss="modal" style="padding:6px 12px 6px 12px">&times;</span>
                @*<a href="@Url.Action("ManagePendingTasks")" Class="btn close"><span aria-hidden="true">&times;</span></a>*@
            </div>
            <div class="modal-body " style="padding-bottom:0px; padding-top:0px;">
                <h4 style="text-align:center; font-size:18px; margin-top:0px;" class="modal-title">Enter Customer Name</h4>
                <hr style="margin-top:10px; margin-bottom:30px; width:80%" />
                <form Class="form-horizontal" role="form" method="post" id="CustomerName">
                    <input type="hidden" name="PTask" id="PTask" value="">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, " Check details. Please Fill Form Correctly.", new {@class = "text-danger"})
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="padding-top:0px">Customer Name</label>
                        <input type="text" onchange="" class="form-control input-sm" placeholder="Customer Name" name="CustomerName1" id="CustomerName1" style="padding-left:2px; border-radius:0px; padding-right:0px; margin:0px; width:202px">
                    </div>

                    <div Class="text-center" style="margin:20px 0px 10px 50px">
                        <Button type="submit" Class="btn btn-primary" style="margin-right:15px; margin-top:20px">Submit</Button>
                        <button type="button" class="btn btn-default form-control input-sm" data-dismiss="modal" style="margin-right:50px; margin-top:20px"> Cancel </button>
                        @*<a href="@Url.Action("ManagePendingTasks")" Class="btn btn-default">Cancel</a>*@
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="border:none; text-align:center; padding-bottom:20px">
            </div>
        </div>
    </div>
</div>

@*For filtering on Customer Code *@
<div class="modal fade" id="ModelCustCodeFilter">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header" style="border:none; padding:0px">
                <span class="close" data-dismiss="modal" style="padding:6px 12px 6px 12px">&times;</span>
                @*<a href="@Url.Action("ManagePendingTasks")" Class="btn close"><span aria-hidden="true">&times;</span></a>*@
            </div>
            <div class="modal-body " style="padding-bottom:0px; padding-top:0px;">
                <h4 style="text-align:center; font-size:18px; margin-top:0px;" class="modal-title">Enter Customer Code</h4>
                <hr style="margin-top:10px; margin-bottom:30px; width:80%" />
                <form Class="form-horizontal" role="form" method="post" id="CustomerCode">
                    <input type="hidden" name="PTask" id="PTask" value="">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, " Check details. Please Fill Form Correctly.", new {@class = "text-danger"})
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="padding-top:0px">Customer Code</label>
                        <input type="text" onchange="" class="form-control input-sm" placeholder="Customer Code" name="CustomerCode1" id="CustomerCode1" style="padding-left:2px; border-radius:0px; padding-right:0px; margin:0px; width:202px">
                    </div>

                    <div Class="text-center" style="margin:20px 0px 10px 50px">
                        <Button type="submit" Class="btn btn-primary" style="margin-right:15px; margin-top:20px">Submit</Button>
                        <button type="button" class="btn btn-default form-control input-sm" data-dismiss="modal" style="margin-right:50px; margin-top:20px"> Cancel </button>
                        @*<a href="@Url.Action("ManagePendingTasks")" Class="btn btn-default">Cancel</a>*@
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="border:none; text-align:center; padding-bottom:20px">
            </div>
        </div>
    </div>
</div>

@*For filtering on RegsendDate *@
<div class="modal fade" id="ModelRegSendDateFilter">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header" style="border:none; padding:0px">
                <span class="close" data-dismiss="modal" style="padding:6px 12px 6px 12px">&times;</span>
                @*<a href="@Url.Action("ManagePendingTasks")" Class="btn close"><span aria-hidden="true">&times;</span></a>*@
            </div>
            <div class="modal-body " style="padding-bottom:0px; padding-top:0px;">
                <h4 style="text-align:center; font-size:18px; margin-top:0px;" class="modal-title">Registration Send Date</h4>
                <hr style="margin-top:10px; margin-bottom:30px; width:80%" />
                <form Class="form-horizontal" role="form" method="post" id="RegSendDate">
                    <input type="hidden" name="PTask" id="PTask" value="">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, " Check details. Please Fill Form Correctly.", new {@class = "text-danger"})
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="padding-top:0px">From Date :</label>
                        <input type="date" value="@D" onchange="" class="form-control input-sm" name="min" id="min" min="2019-03-25" style="padding-left:2px; border-radius:0px; padding-right:0px; margin:0px; width:202px">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="padding-top:0px">To Date :</label>
                        <input type="date" value="@D" onchange="" class="form-control input-sm" name="max" id="max" min="2019-03-25" style="padding-left:2px; border-radius:0px; padding-right:0px; margin:0px; width:202px">
                    </div>

                    <div Class="text-center" style="margin:20px 0px 10px 50px">
                        <Button type="submit" Class="btn btn-primary " style="margin-right:15px; margin-top:20px">Submit</Button>
                        <button type="button" class="btn btn-default form-control input-sm" data-dismiss="modal" style="margin-right:50px; margin-top:20px"> Cancel </button>
                        @*<a href="@Url.Action("ManagePendingTasks")" Class="btn btn-default">Cancel</a>*@
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="border:none; text-align:center; padding-bottom:20px">
            </div>
        </div>
    </div>
</div>

@*For filtering on regtype *@
<div class="modal fade" id="ModelRegtypeFilter">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header" style="border:none; padding:0px">
                <span class="close" data-dismiss="modal" style="padding:6px 12px 6px 12px">&times;</span>
                @*<a href="@Url.Action("ManagePendingTasks")" Class="btn close"><span aria-hidden="true">&times;</span></a>*@
            </div>
            <div class="modal-body " style="padding-bottom:0px; padding-top:0px;">
                <h4 style="text-align:center; font-size:18px; margin-top:0px;" class="modal-title">Select Regtype</h4>
                <hr style="margin-top:10px; margin-bottom:30px; width:80%" />
                <form Class="form-horizontal" role="form" method="post" id="Regtype">
                    <input type="hidden" name="PTask" id="PTask" value="">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, " Check details. Please Fill Form Correctly.", new {@class = "text-danger"})
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="padding-top:0px">Select Regtype</label>
                        <select id="reg" name="reg" Class="reg" style="width:60px;height:24px;"><Option value="new">New</Option><Option value="amc">Old</Option></select>
                        <select id="reg2" name="reg2" class="regM" style="width:80px;height:24px;"><option value="main">Main</option><option value="home">Home</option></select>
                    </div>

                    <div Class="text-center" style="margin:20px 0px 10px 50px">
                        <Button type="submit" Class="btn btn-primary " style="margin-right:15px; margin-top:20px">Submit</Button>
                        <button type="button" class="btn btn-default form-control input-sm" data-dismiss="modal" style="margin-right:50px; margin-top:20px"> Cancel </button>
                        @*<a href="@Url.Action("ManagePendingTasks")" Class="btn btn-default">Cancel</a>*@
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="border:none; text-align:center; padding-bottom:20px">
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div id="main" class="col-md-12" style="padding-right:25px">
            @*Started by Shweta*@
            <div id="FilterText" class="col-md-2" style="float:left; display:none; margin-top:13px; font-size:13px; border:1px solid lightgray; width: auto; padding:2px 5px 0px 5px; height:24px; margin-right:15px">
                <b>
                    <p id="fText" style="float:left; margin-bottom:0px; margin-right:10px;  margin-top :-1px;"></p>
                    <a class='' id='' onclick='removeFilter();'>
                        <i class='glyphicon glyphicon-remove'></i>
                    </a>
                </b>
            </div>
     

            @*<div id="dropdown" class="col-md-4 search ">
                    <select class="col-md-2" id="filter" style="height:26px">
                        <option value="0">Filter</option>
                    </select>
                    <div id="dateC" style="display:none">
                        <div class="col-md-1">
                            <label class="ee">   From: </label>
                        </div>
                        <input type="date" id="min" class="col-md-9" style="height:26px" />
                        <div class="col-md-1">
                            <label class="ww">  To: </label>
                        </div>
                        <input type="date" id="max" class="col-md-9" style="height:26px" />
                        <div id="search2" onclick="DateSearch();" class="btn btn-primary col-md-3 date"><i class="glyphicon glyphicon-search"></i></div>
                    </div>
                    <div id="TextC" style="display:none">
                        <input type="text" id="filterText" class="col-md-3" placeholder="Type to search" style="height:26px" /><div id="search1" onclick="DoSearch();" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></div>
                    </div>
                </div>*@
            <p class="text-success">@TempData["Message"]</p>
            @*<div id="MsgTextLine2" class="col-md-3" style="text-align:center; padding:0px;">
                    <p id="MsgTextLine" class="text-center text-success" style="text-align :center;">@ViewBag.msg </p>
                </div>*@
            <div class="col-md-4" style="text-align:right; padding-right:0px; float:right">
                <label id="info"> </label>
                <div class="btn btn-default" title="" data-placement="bottom" data-toggle="tooltip" id="Prev" data-original-title="Newer" style="margin-top:10px; width:30px; padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:0px; margin-bottom:10px; color:#337ab7; border-radius:0px">
                    <i class="fa fa-angle-left" style="font-size:24px"></i>
                </div>
                <div class="btn btn-default" title="" data-placement="bottom" data-toggle="tooltip" id="Next" data-original-title="Older" style="margin-top:10px; width:30px; padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:0px; margin-bottom:10px;color:#337ab7; margin-left:0px;  border-radius:0px">
                    <i class="fa fa-angle-right" style="font-size:24px"></i>
                </div>
                <div class="btn btn-default" style="color:#337ab7; margin-left:10px; width:30px; height:25px; padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:0px; margin-bottom:10px; border-radius:0px; margin-top:10px">
                    <p id="popover1" data-placement="bottom" style="margin-top:0px;"><i class="fa fa-gear xx" style="font-size:20px; margin-top:2px"></i></p>
                    <div id="popover_content_wrapper1" style="display: none">
                        <ul style="list-style:none; padding-left:0px">
                            <li id="popover2" data-placement="left" style="left:-90px; width:90px;">Set Page Size</li>
                        </ul>
                    </div>
                    <div id="popover_content_wrapper2" style="display:none; width:148px">
                        <input type="number" id="size" style="padding:2px 2px 3px 5px; width:70%;height:25px" /><div id="pageS" onclick="PageSize();" class="btn btn-primary" style="width:23px;border-radius:0px; padding-left:3px; padding-top:3px; padding-bottom:0px; padding-right:6px ;margin-top:0px;margin-bottom: 2px;"> <i class="glyphicon glyphicon-ok"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="" method="post" id="customer">
    @Html.AntiForgeryToken()
    <input type="hidden" name="grid1" id="grid1" value="">
    <input type="hidden" name="fvalue" id="fvalue" value="@ViewBag.filter">
    <hr />
    <div class="col-md-12 " style="padding-left: 0px;padding-right: 0px;">
        <div class="col-md-12 col-sm-12 TaskBar" style="font-family: verdana,arial,sans-serif; height:40px;padding-top: 10px;padding-top:8px;border-bottom: 2px solid lightgrey;padding-left: 5px;font-size: 11px;width:1130px;display:flex;flex-direction:row">
            <div class="SNo." style="width:3%; text-align:center; padding-right:0px; padding-left:0px;margin-left:0px;padding-top:8px;"><b>Select.</b></div>
            <div class="CallId" style="width:5%; text-align:left;   padding-right:0px; padding-left:0px; margin-left: 5px;padding-top: 8px;"><b>CustomerID</b></div>
            <div class="Date" style="width:5%; margin-left:0px;   padding-top:8px;   padding-left:0px;"><b>CustCode</b></div>
            <div class="Firm" style="width:6%; text-align:left;   padding-top:8px;   padding-left:10px; padding-right: 10px;"><b>Customer Name</b></div>
            <div class="Name" style="width:6%; text-align:center; padding-top:8px;   padding-left:0px;  padding-right: 0px;margin-right: 0px;"><b>Contact Person</b></div>
            <div class="Mobile" style="width:8%; text-align:center; padding-left:20px; padding-top:8px;   padding-right:0px"><b>Mobile No</b></div>
            <div class="Location" style="width:6%; text-align:right;  padding-left:0px;  padding-top:8px;   padding-right: 0px;"><b>Location</b></div>
            <div class="Issue" style="width:6%; text-align:center; padding-right:0px; padding-left:10px; padding-top:8px;"><b>Business</b></div>
            <div class="Description" style="width:6%; text-align:left;   padding-right:0px; padding-left:15px; padding-top:8px;"><b>Product</b></div>
            <div class="Status" style="width:7%; text-align:right;  padding-right:0px; padding-left:5px;  padding-top:8px;"><b>activationDate</b></div>
            <div class="Assigned To" style="width:7%; text-align:center; padding-right:0px; padding-left:5px;"><b>Customer Status</b></div>         
        </div>
        <div id="loading" style="padding:10px; margin:10% auto;"><div colspan="5"><div id="loadingmessage" class="loader overlay col-md-offset-6"></div><p id="Msg"></p></div></div>
        <div class="col-md-12 " id="example" style="width:100%; overflow-y:scroll; padding-bottom:20px; height:490px; padding-left: 0px;padding-right: 10px;"></div>
    </div>
</form>




