@model CRMApp.Models.UserLoginTable
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Optimization.Scripts.Render("~/bundles/ChangePass")*@
 <script src="~/Scripts/Custom/ChangePass.js"></script>
<link rel="stylesheet" href="~/Content/Custom/ChangePassword.css" />
<style>
    .btn-primary {
        background-color: #105faf;
        border-color: #367fa9;
    }
     #CurP:focus, #NewP:focus, #NewP1:focus {
        border-bottom: 1px solid #105faf !important;
    }
</style>
<h2 class="text-info text-center" style="color:#105faf;">Change Password</h2>
<p class="login-box-msg text-primary text-center" style="color:#105faf;">Please choose only 8 character password</p>
<p class="login-box-msg1 text-danger text-center">@TempData["Message"]</p>
<br />

    <form method="post" action="@Url.Action("ChangePassword","Home")" id="ChangePass">
        <input type="hidden" value="@ViewData["type"]" name="LoginType" />
        <div class="container  ChangePasswordContainer" style="width:30%; background-color:white; padding:0px">
                <div class="panel panel-default" style="margin-bottom:0px">
                    <div class="panel-body" style="border-top: 3px solid #3c8dbc; padding-left: 35px; padding-right: 38px;">
                        <div Class="formfield form-group" id="" style="margin-top:30px; margin-bottom:35px; ">
                            <input type="password" Class="form-control" value="@Model.Password" name="CurrPassword" id="CurP" style="border: none; border-bottom: 1px solid #ddd;" required  autocomplete="off">
                            <Label alt="" For="CurP" placeholder="Current Password" >Current Password</Label>
                        </div>
                        <div Class="formfield form-group" id="" style="margin-bottom:35px;">
                            <input type="password" Class="form-control" value="" name="NewPassword" id="NewP" style="border: none; border-bottom: 1px solid #ddd;" required maxlength="8" autocomplete="off">
                            <Label alt="" For="NewP" placeholder="New Password">New Password</Label>
                        </div>
                        <div Class="formfield form-group" id="" style="margin-bottom:35px;">
                            <input type="password" Class="form-control" value="" name="NewPassword1" id="NewP1" maxlength="8" style="border: none; border-bottom: 1px solid #ddd;" required autocomplete="off">
                            <Label alt="" For="NewP1" placeholder="Confirm Password">Confirm Password</Label>
                        </div>
                        <div Class="text-center" style="margin-top:20px; margin-bottom:30px;">
                            <input type="button" id="Sub" Class="btn btn-primary" onclick="Confirm();" value="Submit" style="width:40%; border-radius:25px;" />
                            <input type="Reset" value="Cancel" style="margin-left: 20px; width: 40%; border-radius: 25px;" class="btn btn-default" />
                        </div>

                    </div>
                </div>
            </div>
    </form>

   @* //@Using (Html.BeginForm("ChangePassword", "Home", method:=FormMethod.Post, htmlAttributes:=New With {.id = "ChangePass"}))
    //    @<input type="hidden" value="@ViewData("type")" name="LoginType" />
    //    @<div class="container  ChangePasswordContainer" style="width:30%; background-color:white; padding:0px">
    //        <div class="panel panel-default" style="margin-bottom:0px">
    //            <div class="panel-body" style="border-top: 3px solid #3c8dbc; padding-left: 35px; padding-right: 38px;">
    //                <div Class="formfield form-group" id="" style="margin-top:30px; margin-bottom:35px; ">
    //                    <input type="password" Class="form-control" value="@Model.Password" name="CurrPassword" id="CurP" style="border: none; border-bottom: 1px solid #ddd;" required  autocomplete="off">
    //                    <Label alt="" For="CurP" placeholder="Current Password" >Current Password</Label>
    //                </div>
    //                <div Class="formfield form-group" id="" style="margin-bottom:35px;">
    //                    <input type="password" Class="form-control" value="" name="NewPassword" id="NewP" style="border: none; border-bottom: 1px solid #ddd;" required maxlength="8" autocomplete="off">
    //                    <Label alt="" For="NewP" placeholder="New Password">New Password</Label>
    //                </div>
    //                <div Class="formfield form-group" id="" style="margin-bottom:35px;">
    //                    <input type="password" Class="form-control" value="" name="NewPassword1" id="NewP1" maxlength="8" style="border: none; border-bottom: 1px solid #ddd;" required autocomplete="off">
    //                    <Label alt="" For="NewP1" placeholder="Confirm Password">Confirm Password</Label>
    //                </div>
    //                <div Class="text-center" style="margin-top:20px; margin-bottom:30px;">
    //                    <input type="button" id="Sub" Class="btn btn-primary" onclick="Confirm();" value="Submit" style="width:40%; border-radius:25px;" />
    //                    <input type="Reset" value="Cancel" style="margin-left: 20px; width: 40%; border-radius: 25px;" class="btn btn-default" />
    //                </div>

    //            </div>
    //        </div>
    //    </div>
    //End Using*@








