@model  CRMApp.Models.UserLoginTable
@{
    Layout = "~/Views/Shared/_Nav.cshtml";
    ViewData["Title"] = "LoginPage";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
    <link href="~/Content/FrameWork/awselect.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Custom/PageLoaderLogin.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="~/scripts/FrameWork/awselect.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GVPR11ZTNT"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GVPR11ZTNT');
    
        $(document).ready(function () {
            SetDeviceType();
            var options = { "backdrop": "static", keyboard: true };
            $("#navLogin").addClass("navActive");
            $("#navLogin").css("padding-top", "5px");
            $("#navLogin").css("padding-bottom", "5px");
            $("#navLogin").css("margin-top", "10px");

            $('select').awselect({
                background: "#f2f2f2", //the dark blue background
                vertical_padding: "10px", //top and bottom padding
                horizontal_padding: "20px", // left and right padding,
                immersive: false // immersive option, demonstrated at the next example
            });

            $(".back_face ul li:nth-child(1) a").prepend('<i class="fa fa-user" style="margin-right:5px;"></i>');
            $(".back_face ul li:nth-child(2) a").prepend('<i class="fa fa-users" style="margin-right:5px;margin-left:-8px;"></i>');



            $("#UserType").change(function () {
                if (this.value == 'B') {
                    $(".CorporateID").css("display", "block");
                }
                else if (this.value == 'I') {
                    $(".CorporateID").css("display", "none");
                }
            })

            $("#UType").change(function () {
                if (this.value == 'B') {
                    $(".CorpID").css("display", "block");
                }
                else if (this.value == 'I') {
                    $(".CorpID").css("display", "none");
                }
            })


            $(".For").click(function () {
                var $buttonClicked = $(this);
                var options = {
                    "backdrop": "static",
                    keyboard: true
                };
                $('.Forgot').modal(options);
                $('.Forgot').modal('show');
            });

            $(".Submit").click(function () {
                $("#LoginForm").submit();
                $("#loadspin,#overlay").show();
            });

            $("#forgotPasswordBtn").click(function () {
                var formData = $("#ForgotPasswordForm").serialize();
                $.ajax({
                    type: "post",
                    url: "/Home/AjaxForgotPassword",
                    data: formData,
                    success: function (response) {
                        $("#ForgotPasswordModal").modal("hide");
                        if (response == "success") {
                            $('input[name="Uid"]').val("");
                            $('input[name="Cid"]').val("");
                            $('#CallClosedContent').html();
                            $('#CallClosed').modal(options);
                            var Mtitle = "We have sent you an email on your registered email. Please check your email."
                            $('#CallClosed .modal-title').text(Mtitle);
                            $('#CallClosed').modal('show');
                            setTimeout(function () { $('#CallClosed').modal('hide'); }, 5000);
                        }
                        else {
                            $('#CallClosedContent').html();
                            $('#CallClosed').modal(options);
                            var Mtitle = response
                            $('#CallClosed .modal-title').text(Mtitle);
                            $('#CallClosed').modal('show');
                            setTimeout(function () { $('#CallClosed').modal('hide'); }, 5000);
                        }
                    }
                });
            });

        });

        function SetDeviceType() {
            if ($(window).width() < 700) {
                $("#deviceType").val("M");
            }
            else {
                $("#deviceType").val("D");
            }
        }
    </script>
</head>
<body>
    <div id="overlay">
        <div class="loading" id="loadspin" style="text-align : center;display:none"></div>
    </div>
    <p class="text-center text-success">@TempData["Message"]</p>
    <div class="container">
        <div class="row body">
            <div class="col-lg-6 col-md-6" style="padding:0px;">
                <center>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <img src="~/images/pos.png" alt="App Based billing/POS solutions" style="max-height:400px; width:90%; margin:20px; overflow:hidden;">
                            </div>


                            <div class="item">
                                <img src="~/images/11.png" alt="Call Based Task Management" style="max-height:400px; width:90%; margin:20px; overflow:hidden;">
                            </div>

                            <div class="item">
                                <img src="~/images/22.png" alt="Communicate with your customers" style="max-height:400px; width:90%; margin:20px; overflow:hidden;">
                            </div>

                            <div class="item">
                                <img src="~/images/33.png" alt="Dashboard at a glance" style="max-height:400px; width:90%; margin:20px; overflow:hidden;">
                            </div>

                            <div class="item">
                                <img src="~/images/44.png" alt="Enhance Productivity" style="max-height:400px; width:90%; margin:20px; overflow:hidden;">
                            </div>

                            <div class="item">
                                <img src="~/images/55.png" alt="Steamline your internal process" style="max-height:400px; width:90%; margin:20px; overflow:hidden;">
                            </div>
                            
                            <div class="item">
                                <img src="~/images/66.png" alt="Increase Revenue by more than 2x" style="max-height:400px; width:90%; margin:20px; overflow:hidden;">
                            </div>
                            <div class="item">
                                <img src="~/images/77.png" alt="nurture your business network" style="max-height:400px; width:90%; margin:20px; overflow:hidden;">
                            </div>

                        </div>
                    </div>
                </center>
            </div>
            <div class="col-lg-6 col-md-6 form" style="padding:20px;">
                <div class="row">
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-8 col-md-8">
                        <center>
                            <h3 style="font-weight:700;">Sign In</h3>
                            <br />


                            <form action="@Url.Action("Login")" method="post" style="" id="LoginForm">
                                <input type="hidden" id="deviceType" name="deviceType" />
                                <select id="UserType" name="UserType" data-placeholder="Select Account Type">
                                    <option value="I">Individual</option>
                                    <option value="B">Business</option>
                                </select>
                                <br />
                                <br />
                                <p class="text-center text-danger">@ViewBag.Message</p>
                                <br />
                                <div class="form-group CorporateID" style="margin-bottom:20px;display:none;">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Corporate ID" value="@Model.Corpid" name="Corpid" />
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:20px;">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope-o"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="User Name" value="@Model.userid" name="userid" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">

                                        <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                        <input type="password" class="form-control" placeholder="Password" value="@Model.Password" name="Password" required />
                                    </div>
                                </div>
                                <p class="For" style="font-size:14px; float:right; color:rgba(0,0,0,.65);cursor:pointer">Forgot Password?</p>
                                <br /><br />
                                <button style="width:100%; font-size:14px;" class="btn btn-primary Submit">Sign In</button>
                                <a href="@Url.Action("SignUp", "Home")" style="width:100%; margin-top:15px; color:rgba(0,0,0,.65); font-size:12px;" class="btn btn-default">Don't have an account?</a>
                            </form>
                        </center>
                    </div>
                    <div class="col-lg-2 col-md-2"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade Forgot" id="ForgotPasswordModal" style="font-family:inherit">
        <div class="modal-dialog" role="form">
            <div class="modal-content">
                <div class="modal-header" style="border:none;">
                    <span class="close" data-dismiss="modal" style="padding:6px 12px 20px 20px">&times;</span>
                    <h4 class="modal-title" style="text-align:center;color:black;font-size:20px;">Forgot Password</h4>
                </div>
                <div class="modal-body" style="padding-bottom:0px; padding-top:0px;">
                    <hr style="margin-top:5px; width:80%" />
                    <div id="PasswordForgot" class="col-md-12">
                        <center>
                            <form  method="post" role="form" class="PForgot" id="ForgotPasswordForm">
                            @Html.AntiForgeryToken()
                                <select name="UType" id="UType" data-placeholder="Select Account Type">
                                    <option value="I">Individual</option>
                                    <option value="B">Business</option>
                                </select>
                                <br />
                                <br />
                                <p class="text-center"></p>
                                <br />
                                <div class="form-group CorpID" style="margin-bottom:20px;display:none;">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Corporate ID" value="" name="Cid" />
                                    </div>
                                    </div>
                                <div class="form-group" style="margin-bottom:20px;">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope-o"></i>
                                    </span>
                                        <input type="text" class="form-control" placeholder="User Name" value="" name="Uid" />
                                </div>
                            </div>
                                <div Class="text-center col-md-12" style="margin-top:15px;">
                                    <button type="button" style="font-size:14px;" class="btn btn-primary" id="forgotPasswordBtn">Submit</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:20px;"> Cancel </button>
                            </div>
                        </form>
                        </center>
                    </div>
                </div>
                <div class="modal-footer" style="border:none; text-align:center; padding-bottom:20px">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CallClosed">
        <div class="modal-dialog" role="form">
            <div class="modal-content">
                <a data-dismiss="modal" Class="btn close"><span aria-hidden="true" style="font-size:24px">&times;</span></a>
                <h4 style="text-align:center; font-size:18px; padding-left: 10px; margin-top:0px; padding-top:20px" class="modal-title">  </h4>
                <div class="modal-body" style="padding-bottom:0px; padding-top:0px;margin-top: 20px;">
                    <div id="CallClosedContent" class="col-md-6"></div>
                    <div class="form-group text-center" style="clear:both; margin:0px 0px 10px 50px">
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>


